.faq-button {
      background-color: #23264f;
      color: white;
       font-size: 1.25rem !important;
       font-weight: 400 !important;
    }

    .faq-button:not(.collapsed) {
      background-color: #23264f;
      color: white;
       font-size: 1.25rem !important;
       font-weight: 400 !important;
    }

    .faq-button:after {
      filter: invert(100%);
    }

    .accordion-body {
      background-color: #23264f;
      color: white;
    }

    .faq-button:focus {
        box-shadow: none; /* Remove the focus box shadow */
      }