  .mobile-header-wrapper{
    position: fixed;
    top: 0;
  }
  
  .menu-button-container {
    // display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }


  .mobile-menu-container{
    width: 100%;
    position: fixed;
    top: -100%;
    z-index: 4;
    background: #141843;
    transition: 400ms;
    pointer-events: auto;
  
}

.mobile-active{
    top: 85px;
  box-shadow:0 0 0 1000px rgba(0,0,0,.50);

}

.mobile-menu-item{
    background: #2F80ED;
    border-radius: 12px;
    width: 100%;
}

.blue-btn {
    border-radius: 10px;
    background: #2f80ed;
    height: 40px;
    color: #fff;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }