.profile-option-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;

  h6 {
    color: #828fbb;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
  }

}


.active {
    background: rgba(35, 36, 78, 0.5);
    h6{
        color: #fff !important;
    }
}

.profile-divider{
  width: 100%;
  height: 3px;
  border-radius: 4px;
background: #828FBB;
}