.main-hero-wrapper {
  border-radius: 30px;
  background: linear-gradient(
    148deg,
    rgba(35, 36, 78, 0.1) 0%,
    rgba(47, 128, 237, 0.05) 100%
  );
  // backdrop-filter: blur(10px);
  @media only screen and (max-width: 991px) {
    margin-top: 3rem;
  }

  .main-hero-desc {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    width: 75%;

    @media screen and (max-width: 786px) {
      width: 100%;
    }
  }

  .gradient-btn {
    border-radius: 12px;
    background: linear-gradient(90deg, #2f80ed 0%, #5514a7 100%);
    color: #fff;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    width: fit-content;
    outline: none;
    border: none;
  }
}
