* {
  font-family: "Poppins", sans-serif !important;
}

input:focus {
  outline: none;
}

.main-hero-title {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 145.37% */
  letter-spacing: 1.35px;
  text-transform: capitalize;
  background: -webkit-linear-gradient(
    45deg,
    #69eacb 0%,
    #eaccf8 48%,
    #6654f1 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.trending-tab {
  cursor: pointer;
  border-radius: 13px;
  width: fit-content;
  white-space: nowrap;
}





.buy-btn {
  border-radius: 24px;
  border: 1px solid #2f80ed;
  background: rgba(47, 128, 237, 0.05);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  transition: all 0.35s ease;
}

.buy-btn:hover {
  background: #2f80ed;
}


.recently-listed-card {
 
  border-radius: 30px;
  background: linear-gradient(
    148deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
  backdrop-filter: blur(10px);
  border: 1px solid transparent;

  .card-img {
    border-radius: 30px;
  }
  .recently-listed-title {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.25px;
    text-transform: capitalize;
  }
  .cfx-price {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: capitalize;
  }
  .usd-price {
    color: #3dbda7;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.5px;
    text-transform: capitalize;
  }
 
}


.trending-tab > h6 {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.trending-tab-active {
  border-radius: 12px;
  background: #2f80ed;
}

.trending-divider {
  background: #828fbb;
  height: 4px;
  width: 100%;
}

.hidescroll {
  overflow: hidden;
  pointer-events: none;
}

.info-title {
  color: #f5fbf2;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  @media only screen and (max-width: 991px) {
    font-size: 30px;
  }
}

.button__bar {
  display: flex !important;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  margin: auto;
  padding: 0;
  border-radius: 40px;
  width: 70px;
  text-align: center;
  margin-top: 20px;
}

.button__bar li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 3px;
  padding: 0;
}

.button__bar li button {
  border: none;
  border-radius: 8px;
  background: rgba(47, 128, 237, 0.25);
  color: transparent;
  cursor: pointer;
  display: block;
  height: 4px;
  width: 64px;
}

.button__bar li.slick-active button {
  height: 4px;
  width: 64px;
  opacity: 1;
  background: #2f80ed;
}



@media only screen and (max-width: 991px) {
  .main-hero-title {
    font-size: 30px;
  }
}


.recently-listed-card:hover {
  border: 1px solid #2f80ed;
}