.make-offer-btn {
  background: linear-gradient(90deg, #830e47 0%, #a6519b 100%);
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  border-radius: 15px;
  border: none;
  outline: none;
}

.buy-nft-btn {
  background: linear-gradient(90deg, #2f80ed 0%, #00e0b9 100%);
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  border-radius: 15px;
  border: none;
  outline: none;
}

.confirm-text {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
